@* This clearfix div is needed otherwise float elements above might interfere with the styling here. *@
<div class="clearfix"></div>
@if (Model.IsOverQuota)
{
    <p class="alert alert-danger">
        @T["It seems that your site sent out more e-mails than the available quota for this month. " +
            "E-mail sending has been stopped until next month (any feature sending out e-mails will fail)."]
    </p>
}
else
{
    <p class="alert alert-warning">
        @T["It seems that your site sent out {0}% of e-mails from the available quota for this month. " +
            "E-mail sending will be stopped until next month (any feature sending out e-mails will fail), when the quota is exceeded.",
            Model.UsagePercentage]
    </p>
}
