<h1>Hi,</h1>
<p>
    It seems that your @Model.HostName site sent out more e-mails than the available quota for this month. E-mail sending has been stopped until next month (any feature sending out e-mails will fail). Check out the <a href="https://dotnest.com/pricing" target="_blank">Pricing page</a> to see what options you have to send more e-mails, or don’t hesitate to <a href="https://dotnest.com/contact-us" target="_blank">contact us</a> if you have questions!
</p>
<p>
    Thank you,<br/>
    Your DotNest Crew
</p>
