@{
    ViewLayout = "Layout__EmailTemplate";
}
@T["<p>Hi,</p><p> It seems that your {0} site sent out more e-mails than the available quota for this month." +
    " E-mail sending has been stopped until next month (any feature sending out e-mails will fail).</p><p> Thank you,<br/> Your Admin Crew</p> ",
    Model.HostName]
