<p class="alert alert-warning">
    @T["Unless you use your own SMTP server you have limited e-mails to send." +
        " You've sent {0} emails from the total of {1}.", Model.CurrentEmailCount, Model.EmailQuota]
</p>
