@using Lombiq.Hosting.Tenants.IdleTenantManagement.ViewModels;

@model IdleMinutesSettingsViewModel

<fieldset class="form-group" asp-validation-class-for="MaxIdleMinutes">
    <label asp-for="MaxIdleMinutes">@T["Maximum idle minutes"]</label>
    <input asp-for="MaxIdleMinutes" class="form-control" type="text" />
    <span asp-validation-for="MaxIdleMinutes"></span>
    <span class="hint">
        @T["Maximum amount of time in minutes that can be elapsed prior to shutdown due to inactivity"]
    </span>
</fieldset>
